@import url("https://fonts.googleapis.com/css?family=Montserrat");
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.error-flash {
    animation: flash 0.2s ease-in-out;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes flash {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}
